// colors

$gray: #CCCCCC;
$gray-dark: #555555;
$white: #FFFFFF;
$magenta: #BB6DBB;
$warning: #FF0000;

// fonts

$lato: 'Lato', sans-serif;
$bold: 700;
$regular: 400;
$body-size: 16px;

// frame

$width-frame: 960px;